extends ../layout

block content
  h1= title
  p
    - var urlNewBook = "/books/new-book";
    a(class='button' href=urlNewBook) Create New Book


  form(action='/books/pageblob1', method='get')
    input(type='text', name='search', id='search', placeholder='Search...')
    button(type='Submit') Search


  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            - var urlBookDetail = '/books/' + book.id + '/update';
            a(href=urlBookDetail)= book.title
          td= book.author
          td= book.genre
          td= book.year


  div(id="pagination")
      - var n = 0;
      ul
        while n < pagesNbr
          li
            - var buttonNbr = n+1;
            - var urlButton = "/books/pageblob" + buttonNbr;
            a(class="button" name=n+1, href=urlButton)= n++ +1
