extends ../layout

block content
  h1= title

  div(class='header')
    div(class='new-book')
      - var urlNewBook = "/books/new";
      a(class='button' href=urlNewBook) Create New Book

    div(class='search')
      form(action='/books', id='search', class='search',method='get')
        input(type='text', name='search', placeholder='Search...')
        button(type='Submit', class='button', form='search') Search


  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            - var urlBookDetail = '/books/' + book.id;
            a(href=urlBookDetail)= book.title
          td= book.author
          td= book.genre
          td= book.year


  div(id="pagination")

  script(type="text/javascript" src='/javascripts/script.js')
