extends ../layout

block content
  h1= title


  p
    - var urlNewBook = "/books/new-book";
    a(class='button' href=urlNewBook) Create New Book


  form(action='/books', id='search', method='get')
    input(type='text', name='search', placeholder='Search...')
    button(type='Submit', form='search') Search


  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            - var urlBookDetail = '/books/' + book.id + '/update';
            a(href=urlBookDetail)= book.title
          td= book.author
          td= book.genre
          td= book.year


  div(id="pagination")

  script(type="text/javascript" src='/javascripts/script.js')
